:root {
    --prussian-blue: hsla(212, 90%, 20%, 1);
    --blue-sapphire: hsla(198, 100%, 23%, 1);
    --emerald: hsla(138, 51%, 63%, 1);
    --little-boy-blue: hsla(215, 69%, 67%, 1);
    --dark-orange: hsla(30, 100%, 53%, 1);
    --marigold: hsla(40, 94%, 49%, 1);

    --color-primary-default: 30, 100%, 53%;
    --color-primary-active: 40, 94%, 49%;
    --color-primary-disabled: 30, 50%, 53%;
    --color-secondary-default: 138, 51%, 63%;
    --color-secondary-active: 138, 51%, 73%;
    --color-secondary-disabled: 138, 31%, 53%;
    --color-default-default: 212, 90%, 40%;
    --color-default-active: 215, 69%, 87%;
    --color-default-disabled: 198, 100%, 43%;
    --color-background-default: 212, 90%, 10%;
    --color-background-active: 215, 69%, 47%;
    --color-background-disabled: 198, 100%, 13%;

    font-family: "Roboto Mono", monospace;
    color: hsla(var(--color-default-default), 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsla(var(--color-background-default), 1);
}

button {
    border: 1px solid hsla(var(--color-default-default), 1);
    border-radius: 4px;
    background-color: hsla(var(--color-default-default), 0.3);
    color: hsla(var(--color-default-default), 1);
    padding: 0.5em 1em;
}
